body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1539px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:812px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:812px;
  display:flex;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:64px;
  display:flex;
}
#u1320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u1322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u1323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u1324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1324_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:1258px;
  height:723px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u1325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:112px;
  width:56px;
  height:16px;
  display:flex;
}
#u1326 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1326_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:112px;
  width:56px;
  height:16px;
  display:flex;
}
#u1327 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1327_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1209px;
  height:5px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:136px;
  width:1206px;
  height:2px;
  display:flex;
}
#u1328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:59px;
  height:5px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:136px;
  width:56px;
  height:2px;
  display:flex;
}
#u1329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:100px;
  width:20px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u1330 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:234px;
  width:1197px;
  height:190px;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1332 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:108px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1333 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:0px;
  width:112px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1334 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:111px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1335 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:0px;
  width:72px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1336 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:0px;
  width:105px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1337 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:115px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1338 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:0px;
  width:75px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1339 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:94px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1340 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:73px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1341 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:0px;
  width:83px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1342 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:0px;
  width:72px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1343 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:0px;
  width:119px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:58px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1345 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:50px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:40px;
  width:108px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:40px;
  width:112px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1347 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:40px;
  width:111px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1348 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:40px;
  width:72px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1349 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:40px;
  width:105px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1350 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:40px;
  width:115px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1351 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:40px;
  width:75px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1352 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:40px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1353 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:40px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1354 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:40px;
  width:83px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:40px;
  width:72px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1356 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:40px;
  width:119px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u1357 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:58px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1358 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:50px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:90px;
  width:108px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1359 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:90px;
  width:112px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1360 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:90px;
  width:111px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1361 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:90px;
  width:72px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1362 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:90px;
  width:105px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1363 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:90px;
  width:115px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1364 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:90px;
  width:75px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1365 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:90px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1366 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:90px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1367 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:90px;
  width:83px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1368 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:90px;
  width:72px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1369 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:90px;
  width:119px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u1370 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:50px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:58px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:50px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:140px;
  width:108px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:50px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:140px;
  width:112px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:140px;
  width:111px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:140px;
  width:72px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:50px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:140px;
  width:105px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:140px;
  width:115px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:140px;
  width:75px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:140px;
  width:94px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:140px;
  width:73px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:140px;
  width:83px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:50px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:140px;
  width:72px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:140px;
  width:119px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#108DE9;
  line-height:18px;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1384_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:176px;
  width:126px;
  height:28px;
  display:flex;
  color:#AAAAAA;
}
#u1384 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_img.disabled {
}
#u1384.disabled {
}
.u1384_input_option {
}
#u1385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1385_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:28px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:176px;
  width:126px;
  height:28px;
  display:flex;
  color:#AAAAAA;
}
#u1385 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_img.disabled {
}
#u1385.disabled {
}
.u1385_input_option {
}
#u1386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1386_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:176px;
  width:117px;
  height:28px;
  display:flex;
  color:#AAAAAA;
}
#u1386 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_img.disabled {
}
#u1386.disabled {
}
.u1386_input_option {
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:176px;
  width:60px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u1387 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:21px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:176px;
  width:60px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:21px;
}
#u1388 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:247px;
  width:8px;
  height:12px;
  display:flex;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:247px;
  width:8px;
  height:12px;
  display:flex;
}
#u1390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:247px;
  width:8px;
  height:12px;
  display:flex;
}
#u1391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:250px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:234px;
  width:254px;
  height:250px;
  display:flex;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:176px;
  width:170px;
  height:46px;
  display:flex;
}
#u1393 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:left;
  line-height:22px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:176px;
  width:118px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:left;
  line-height:22px;
}
#u1394 .text {
  position:absolute;
  align-self:flex-end;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
