body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1285px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:812px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:812px;
  display:flex;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:64px;
  display:flex;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u5994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u5996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:1258px;
  height:723px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:584px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:104px;
  width:523px;
  height:584px;
  display:flex;
}
#u5998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:302px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:355px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:408px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6001 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:461px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6002 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:248px;
  width:498px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:248px;
  width:44px;
  height:54px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:157px;
  width:519px;
  height:1px;
  display:flex;
}
#u6005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:125px;
  width:56px;
  height:16px;
  display:flex;
}
#u6006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:248px;
  width:44px;
  height:54px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:185px;
  width:113px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u6008 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 24px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u6008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:185px;
  width:105px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u6009 .text {
  position:absolute;
  align-self:flex-end;
  padding:5px 16px 5px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:185px;
  width:110px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u6010 .text {
  position:absolute;
  align-self:flex-end;
  padding:5px 16px 5px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:185px;
  width:74px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5A5A5A;
  text-align:left;
  line-height:22px;
}
#u6011 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:567px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6012 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:620px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6013 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:515px;
  width:487px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6014 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:371px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:302px;
  width:88px;
  height:371px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6015 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6015_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:302px;
  width:44px;
  height:372px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 0px rgba(0, 0, 0, 0.349019607843137), 0px 0px 2px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:104px;
  width:598px;
  height:240px;
  display:flex;
}
#u6017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:2px;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:157px;
  width:595px;
  height:1px;
  display:flex;
}
#u6018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:125px;
  width:56px;
  height:16px;
  display:flex;
}
#u6019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:269px;
  width:574px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u6020 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:162px;
  width:352px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u6021 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:162px;
  width:44px;
  height:54px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6023 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6024 {
  position:absolute;
  left:1167px;
  top:241px;
}
#u6024_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6024_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  display:flex;
}
#u6025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6025_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025.selected {
}
#u6025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  height:11px;
  display:flex;
}
#u6026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6027 {
  position:absolute;
  left:1167px;
  top:293px;
}
#u6027_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6027_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  display:flex;
}
#u6028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6028_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6028.selected {
}
#u6028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:2px;
  width:11px;
  height:11px;
  display:flex;
}
#u6029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:162px;
  width:44px;
  height:54px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6031 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6031_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:216px;
  width:44px;
  height:107px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6032 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:162px;
  width:44px;
  height:54px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(51, 51, 51, 0.847058823529412);
  text-align:left;
  line-height:53px;
}
#u6034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:216px;
  width:83px;
  height:107px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:53px;
}
#u6035 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6035_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:121px;
  width:56px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  text-align:left;
}
#u6036 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:123px;
  width:52px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#108DE9;
  text-align:left;
}
#u6037 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6037_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
