body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1529px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:868px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:868px;
  display:flex;
}
#u2317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1529px;
  height:64px;
  display:flex;
}
#u2318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u2320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
}
#u2321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:24px;
  width:70px;
  height:16px;
  display:flex;
  color:#000000;
}
#u2322 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2322_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:781px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:1499px;
  height:781px;
  display:flex;
  color:rgba(0, 0, 0, 0.847058823529412);
}
#u2323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:124px;
  width:215px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u2325 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:130px;
  width:12px;
  height:13px;
  display:flex;
}
#u2326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:124px;
  width:143px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
}
#u2327 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:124px;
  width:142px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2328 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u2328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:133px;
  width:8px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2329 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:124px;
  width:134px;
  height:28px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u2330 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 8px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:133px;
  width:8px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2331 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:124px;
  width:60px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:21px;
}
#u2332 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:21px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:124px;
  width:60px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
  line-height:21px;
}
#u2333 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:43px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:172px;
  width:146px;
  height:43px;
  display:flex;
}
#u2334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:224px;
  width:1436px;
  height:266px;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2336 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:58px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:106px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2337 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:58px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:0px;
  width:224px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2338 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:159px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2339 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:159px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2340 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:58px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:309px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2341 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:159px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2342 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:0px;
  width:129px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2343 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:0px;
  width:128px;
  height:58px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2344 .text {
  position:absolute;
  align-self:center;
  padding:11px 16px 11px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:63px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2345 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:58px;
  width:106px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2346 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:58px;
  width:224px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2347 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:58px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2348 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:58px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2349 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:58px;
  width:309px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2350 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:58px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2351 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:58px;
  width:129px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2352 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:58px;
  width:128px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:63px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:108px;
  width:106px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:108px;
  width:224px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2356 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:108px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2357 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:108px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2358 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:38px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:108px;
  width:309px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2359 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:108px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2360 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:108px;
  width:129px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2361 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:108px;
  width:128px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2362 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:63px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2363 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:146px;
  width:106px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2364 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:38px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:146px;
  width:224px;
  height:38px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2365 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:146px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2366 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:146px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2367 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:38px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:146px;
  width:309px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2368 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:146px;
  width:159px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2369 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:146px;
  width:129px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:146px;
  width:128px;
  height:38px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2371 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:63px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2372 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:50px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:184px;
  width:106px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2373 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:184px;
  width:224px;
  height:50px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2374 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:184px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2375 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:184px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2376 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:184px;
  width:309px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2377 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:50px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:184px;
  width:159px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2378 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:184px;
  width:129px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2379 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:184px;
  width:128px;
  height:50px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2380 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:63px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2381 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:234px;
  width:106px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2382 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:32px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:234px;
  width:224px;
  height:32px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2383 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:234px;
  width:159px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2384 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:234px;
  width:159px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2385 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:234px;
  width:309px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2386 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:32px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:234px;
  width:159px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2387 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:32px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:234px;
  width:129px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2388 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:234px;
  width:128px;
  height:32px;
  display:flex;
  font-size:12px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:18px;
}
#u2389 .text {
  position:absolute;
  align-self:center;
  padding:7px 16px 7px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(112, 182, 3, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#70B603;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:180px;
  width:210px;
  height:28px;
  display:flex;
  color:#70B603;
}
#u2390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:180px;
  width:132px;
  height:33px;
  display:flex;
}
#u2391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
